[Unit]
Description=Electrify Ease
After=network.target

[Service]
ExecStart=/usr/bin/sudo /home/pi/.electrify/Electrify
WorkingDirectory=/home/pi/.electrify/
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=default.target
